{% extends 'base.html.twig' %}
{% block body %}
<h3>{{ title }}</h3>
    <aside class="customer-nav">
    {% block sidebar %}
        {{ include("customers_manager/partials/customer_navigation.html.twig") }}
    {% endblock %}
    </aside>
    <table class="table table-bordered">
    {% for customer in customers %}
            <tr>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.surname }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.country }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}