{% extends 'base.html.twig' %}

{% block body %}
           <div class="jumbotron text-center">
                  <h1>Customer Manager</h1>
           </div>
           <div class="welcomeStats">
               <div class="well">
                   Registered customers : {{ registered_customers }}
               </div>
               <div class="well">
                   Registered demands : {{ registered_demands }}
               </div>
               <div>
                   <h2>Todays appointments</h2>
                   <table class="table table-hover table-bordered">
                           <tr>
                               <td>Title</td>
                               <td>Customer</td>
                               <td>Date</td>
                           </tr>
                       {% for appointment in today_appointments %}
                       <tr>
                           <td>{{ appointment.title }}</td>
                           <td>{{ appointment.customer }}</td>
                           <td>{{ appointment.date|date() }}</td>
                       </tr>
                       {% endfor %}
                   </table>
               </div>
           </div>

    <div class="boxes">
         <div class="row box-wrapper collor-red">
                  <div class="text-center">
                      <img src="http://www.setmore.com/landing-page/spa/images/customer-bubbles.png" alt="...">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate, delectus, dignissimos dolores eos esse est eum ex expedita, fugit modi molestiae nam neque quas saepe similique soluta suscipit tempora.</p>
                  </div>
        </div>

         <div class="row box-wrapper collor-cyan">
             <div class="text-center">
                 <img src="http://eserveinfosys.com/images/services/hire_dedicated_professional.png" alt="...">
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate, delectus, dignissimos dolores eos esse est eum ex expedita, fugit modi molestiae nam neque quas saepe similique soluta suscipit tempora.</p>
             </div>
        </div>
    </div>
{% endblock %}
