{% extends 'base.html.twig' %}
{% block body %}
<h3>{{ title }}</h3>
    <div class="customer-nav">
    {% block sidebar %}
        {{ include("customers_manager/partials/inner_customers_navigation.html.twig") }}
    {% endblock %}
    </div>
       {% for flashMessage in app.session.flashbag.get('actionInfo') %}
           <div class="alert alert-warning">
               <span class="glyphicon glyphicon-bookmark"></span>
               {{ flashMessage }}
           </div>
       {% endfor %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Firstname</td>
                <td>Lastname</td>
                <td>City</td>
                <td>Country</td>
                <td>Address</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Birthday</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
    {% for customer in customers %}
            <tr>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.surname }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.country }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.birthday|date("d/m/Y") }}</td>
                <td><a href="{{ path('customer_manager_customers_edit',{'id':customer.id}) }}">Edit</a></td>
                <td><a href="{{ path('customer_manager_customers_delete',{'id':customer.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}