{% extends 'base.html.twig' %}
{% block body %}
    <h3>{{ title }}</h3>
    <div class="col-md-12">
            {{ include("customers_manager/partials/inner_navigation.html.twig") }}
    </div>
    <span class="panel-alert">
       {% for flashMessage in app.session.flashbag.get('formSubmitionError') %}
           <div class="flash-notice">
               {{ flashMessage }}
           </div>
       {% endfor %}
    </span>
    <div>
        {{ form_start(registerForm) }}
        {{ form_row(registerForm.firstname) }}
        {{ form_row(registerForm.surname) }}
        {{ form_row(registerForm.city) }}
        {{ form_row(registerForm.country) }}
        {{ form_row(registerForm.address) }}
        {{ form_row(registerForm.phone) }}
        {{ form_row(registerForm.birthday) }}
        {{ form_row(registerForm.email) }}
        {{ form_end(registerForm) }}
    </div>
{% endblock %}