{% extends 'base.html.twig' %}
{% block body %}
    <h3>{{ title }}</h3>
    <div class="appointment-nav">
        {% block sidebar %}
            {{ include("customers_manager/partials/inner_appointment_navigation.html.twig") }}
        {% endblock %}
    </div>
    {% for flashMessage in app.session.flashbag.get('actionInfo') %}
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-bookmark"></span>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <table class="table table-bordered table-hover">
        <thead class="text-center">
        <tr>
            <td>Title</td>
            <td>Comment</td>
            <td>Customer</td>
            <td>Status</td>
            <td>Date</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </thead>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.title }}</td>
                <td>{{ appointment.comments }}</td>
                <td>{{ appointment.customer }}</td>
                <td>
                    {% if appointment.isCompleted == '1' %}
                        Completed
                    {% else %}
                        Awaiting
                    {% endif %}
                </td>
                <td>{{ appointment.date|date() }}</td>
                <td class="editButton"><a href="{{ path('customer_manager_appointment_edit',{'id':appointment.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="deleteButton"><a href="{{ path('customer_manager_appointment_delete',{'id':appointment.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}