{% extends 'base.html.twig' %}
{% block body %}
    <h3>{{ title }}</h3>
    <div class="col-md-12">
        {{ include("customers_manager/partials/inner_appointment_navigation.html.twig") }}
    </div>
    <span class="panel-alert">
       {% for flashMessage in app.session.flashbag.get('formSubmitionError') %}
           <div class="flash-notice">
               {{ flashMessage }}
           </div>
       {% endfor %}
    </span>
    <div>
        {{ form_start(registerForm) }}
        {{ form_row(registerForm.title) }}
        {{ form_row(registerForm.comments) }}
        {{ form_row(registerForm.customer_id) }}
        {{ form_row(registerForm.isCompleted) }}
        {{ form_row(registerForm.date) }}
        {{ form_end(registerForm) }}
    </div>
{% endblock %}